*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  display: flex;
}
/* :root {font-size: calc(1vw + .1vmin);} */
html {
  scroll-behavior: smooth;
}
/* import { Footer } from "../components/footer";
font-family: 'Cabin', sans-serif;
font-family: 'Cormorant Garamond', serif;
<Footer/> */

h1, h2{
  font-family: 'EB Garamond', serif;
}
p{
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}
.mainDiv{
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.center{
  margin: 0 auto;
}
.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 2;
  background-color: rgba(2, 16, 48, .8);
}
.headerTop{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 20px;

  /* background-color: red; */
}
.headerTopLeft{
  width:40%;
  height: 70px;
  transition: 1500ms ease-in-out;
  /* background-color: yellow; */
}
.headerTopMid{
  text-align: center;
  padding: 20px;
  width: 20%;
  height: 70px;

  /* background-color: purple; */
}

.socialLinkDivHead{
  width: 40%;
  height: 70px;
  /* background-color: green; */
  text-align: center;
  /* margin-top: 30px; */
  margin-left: auto;
  margin-right: 20px
}
.socialLinkDivHead p{
  color: rgb(0, 194, 159);
  margin: 10px;
}

.nav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 60px; */
  margin: 10px auto;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}

.links{
  font-weight:  bold;
  text-decoration: none;
  padding:0 20px;
  color: white;
  border-left: 2px solid white;
  /* margin-bottom: 10px; */
}
.links.active {
  color: rgba(0, 0, 0, 0.8);
  background:rgb(0, 194, 159);
  background: radial-gradient(circle,
    rgba(0, 194, 159,1) 0%, rgba(0, 194, 159,.6) 10%,
    rgba(0, 194, 159,0) 100%);
}
.links:hover{
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
  background:rgba(0, 134, 110, 1);
  background: radial-gradient(circle,
    rgba(0, 194, 159,1) 0%, rgba(0, 194, 159,1) 10%,
    rgba(0, 194, 159,0) 100%);
}
.topLink{
  color: rgb(0, 194, 159);
  border-left: 2px solid rgb(0, 194, 159);
}
.firstLink{
  border: 0;
}
.title{
  margin: 10px 20px;
}

.subTitle{
  margin: 5px 20px;
  color: rgb(187, 187, 187);
}
.subTitle1{
  margin: 5px auto;
  font-size: 3.5vw;
  color: rgb(187, 187, 187);
  text-align: center;
  width: 100%;
}
.subTitle2{
  margin: 5px auto;
  font-size: 3vw;
  color: rgb(187, 187, 187);
  text-align: center;
  width: 100%;
}
.text-transtion_placeholder{
  text-align: center;
}
.text-transition_inner{
  text-align: center;
}
/* ===Login Page===== */
 .loginDiv{
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.45);
   backdrop-filter: blur(3px);
 }



/* ======HOME PAGE====== */
.container1{
  width: 100%;
  height:100%;

}
.main{
  width: 100%;
  height:100%;

}
.topCarousel{
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: 0; */
  width: 100vw;
  height:950px;
  background-color: yellow;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.45);
  /* background-image: url('../bg1.jpeg'); */
  background-size: auto;
}
.topCarouselEffect{

  width: 100%;
  height:100%;

  background-color: rgba(0, 0, 0, 0.45);

}
.carouselContent{
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  width: 75%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  margin:50px auto;
  margin-bottom: 175px;
  color:white;
  text-align:center;
}
.contentText{
  width: 80%;
  min-height: 250px;
  margin:20px auto;
  margin-bottom: 100px;
  text-align: center;
}
.transitionTextDiv{
  display: flex;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
}
.downArrow{
  width: 50px;
  height: 50px;
  color:rgba(0, 134, 110, 1);
}
.downArrow:hover{
  /* transform: scale(1.1); */
  animation-name: bounce;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  cursor:pointer;
}
@keyframes bounce {
  15% {
    transform: translateY(-3px);
  }
  35% {
    transform:  translateY(3px);
  }
  50% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(1px);
  }
  85% {
    transform: translateY(-.5px);
  }
  100% {
    transform: translateY(0);
  }
}
.btnDiv{
  margin: 20px;
}
.btn1{
  border: none;
  margin: 10px;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 250ms ease;
  border: 2px solid rgba(0, 134, 110, 1);
  outline: 2px solid rgba(0, 134, 110, 1);
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 134, 110, 1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}
.btn1:hover{
  /* transform: scale(1.05); */
  color: black;
  border-radius: 2px;
  outline: 2px solid rgb(0, 194, 159);
  outline-offset: 4px;
  background-color: rgb(0, 194, 159);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  cursor:pointer;
}
.logOutBtn{
  padding: 2px 4px;
  /* margin-bottom: 15px; */
}
.secondDiv{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  /* background-color: blue; */
}

.secDivBox{
width: 50%;
height:50vw;
/* border: 2px solid black; */
background-color: red;
display: flex;
background-size: 100% 100%;
}
.secDivEffect{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, .6);
}
.boxImage{
  width: 100%;
  height:50vw;
  flex: 1 0 auto;
}

.fadeBox{
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: 800ms ease;
}
.fadeBox:hover{
  cursor: pointer;
  background-color: rgba(0, 134, 110, .7);
}
.boxText{
  margin:auto;
}
.hideText{
  margin-top: 20px;
  font-size: 0;
  transition: 1000ms ease;
}
.fadeBox:hover .hideText{
  font-size: 14px;
  display: block;
}
.bottomDiv{
  display: flex;
  width: 80%;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin:  0 auto;
}
.bottomDivTop{
  width: 100%;
  min-height: 300px;
  text-align: center;
  padding: 50px;
  line-height:2;
  background-color: rgb(187, 187, 187);
}


/* ====HOUSE CARD===== */

.houseCard{
  width: 350px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border: 2px solid rgba(69, 69, 69, .5);
  margin: 10px;
  transition: 500ms ease;
  /* animation-name: slideIn; */
  animation-duration: 3s;
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
  color: rgb(187, 187, 187);
  scroll-snap-type: y mandatory;
}
.houseCard:hover{
  /* transform: scale(1.05); */
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: rgb(187, 187, 187); */
  animation-name: wobble;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes slideIn {
  from {height:0}
  to {height: 550px}
}

.houseCardPhotoDiv{
  display: flex;
  width: 346px;
  height: 250px;
  background-color: rgb(187, 187, 187);
}
.houseMainPhoto{
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  cursor: pointer;
}

.houseCardInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  font-weight: normal;
  line-height: 1.5;
  /* background-color: red; */
  padding: 20px;
}
.btn2{
  border: none;
  width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  /* border-radius: 5px; */
  font-weight: bold;
  transition: all 500ms ease;
  border: 2px solid rgba(0, 134, 110, 1);
  outline: 2px solid rgba(0, 134, 110, 1);
  outline-offset: -2px;
  background-color: rgba(0, 134, 110, 1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8)
}
.btn2:hover{
  /* width: 100%; */
  outline: 2px solid rgb(0, 194, 159);
  outline-offset: 4px;
  background-color: rgb(0, 194, 159);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  cursor:pointer;
}
.btnDelete{
  border: none;
  /* width: 80%; */
  margin: 10px auto;
  padding: 5px 10px;
  /* border-radius: 5px; */
  font-weight: bold;
  transition: all 500ms ease;
  border: 2px solid rgb(115, 0, 0);
  outline: 2px solid rgb(115, 0, 0);
  outline-offset: -2px;
  background-color: rgb(115, 0, 0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8)
}
.btnDelete:hover{
  /* width: 100%; */
  outline: 2px solid rgb(215, 0, 0);
  outline-offset: 4px;
  background-color: rgb(215, 0, 0);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  cursor:pointer;
}
.colorText{
  color: rgb(0, 194, 159);
}
.colorText2{
  font-size: 3.5vw;
  font-weight: bold;
  /* margin: 10px auto; */
  font-family: 'Cormorant Garamond', serif;
  color: rgba(0, 0, 0, 0.8);
}
/* ======BrowseHomes==== */
.homesDiv{
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);

}
.homesDiv2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px); */
}
.searchHomesDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  font-weight: bold;
  line-height: 1.5;
  background-color: rgb(0, 194, 159);
  transition: 1s ease;
  text-align: center;
  overflow: hidden;
}
.searchTitle{
  display: flex;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 10px;
  transition: 1s ease;
  text-align: center;
  margin: auto;
}
.sTitle{
  display: flex;
  /* position: absolute; */
  width: 100%;
  transition: all 1s ease;
  text-align: center;
  justify-content: center;

  cursor: pointer;
}
.sTitle:hover{
  color: rgba(187, 187, 187, 1)
}
.iconArrow{
  width: 25px;
  height: 25px;
  /* margin-left: auto; */
}
/* .homeBox{
  margin: auto;
} */
.searchHomesDivEffect{
  width: 100%;
  height: 100%;

}
.searchForm{
  width: 80%;
  margin: 30px auto;

}



@keyframes wobble {
  15% {
    transform: scale(1.05);
  }
  35% {
    transform: scale(.95);
  }
  50% {
    transform: scale(1.03);
  }
  60% {
    transform: scale(.97);
  }
  85% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
/* ====ADD HOME==== */
.ad{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.addHomeTitle{
  margin: 10px;
}
.addHomesDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 350px;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(0, 194, 159);
}
.addForm{
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: auto;
}
.pair{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.set{
  display: flex;
  flex-direction: row;
  flex-wrap:   wrap;
  margin: 10px auto;
  justify-content: center;

}
.input2{
  font-size: 15px;
  padding: 5px;
  color: whitesmoke;
  background-color:rgba(0, 0, 0, 0.45);
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 5px;
}
.input3{
  font-size: 15px;
  padding: 5px;
  color: whitesmoke;
  background-color:rgba(0, 0, 0, 0.45);
  border: 0;
  border-bottom: 2px solid rgb(0, 194, 159);
  border-radius: 5px;
}



/* ====SHOW PAGE ==== */
.showDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}
.fillPage{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  height: 40vh;
}

.houseCardShow{
  width: 80%;
  height: 100%;
  /* background-color: yellow; */
  border: 2px solid rgba(69, 69, 69, .5);
  margin: 50px auto;

}
.houseCardPhotoDivShow{
  display: flex;
  position: relative;
  width: 100%;
  max-height: 100%;
  /* background-color: rgb(187, 187, 187); */

}
.morePhotos{
  position: absolute;
 right: 20px;
 bottom: 20px;
 color: rgb(187, 187, 187);
}
.editLinkBtn{
  position: absolute;
 right: 20px;
 top: 20px;
 color: rgb(187, 187, 187);
}
.houseMainPhotoShow{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.showDetailDiv{
  width: 100%;
  min-height: 200px;
  text-align: center;
  color: rgb(187, 187, 187);
  padding: 30px;
  flex-grow: 1;
  border-bottom: 2px solid rgb(0, 194, 159);
  background-color: rgba(0, 0, 0, 0.35);

}
.showDetailDivEffect{
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  animation-name: fadeIn;
  animation-duration: .5s;
}
@keyframes fadeIn {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.houseCardInfoShow{
  display: flex;
  flex-direction:row;
  width: 100%;
  min-height: 150px;
  font-weight: normal;
  line-height: 1.5;
  background-color: rgba(187, 187, 187, .8);
  color: rgba(0, 0, 0, .8);
  padding: 20px;
}
.houseCardInfoShowLeft, .houseCardInfoShowRight{
  margin: auto;

  /* background-color: yellow; */
}
.showBottomDiv{
  width: 100%;
  height: 200px;
  /* background-color: red; */
}
.socialLinkDiv{
  display: flex;
  width: 100%;
  height: 50px;
  /* background-color: white; */
  margin: auto;
}
.icons{
  width: 25px;
  height: 25px;
  margin: auto 10px;
  color: rgb(0, 194, 159);
}




/* =====SERVICES ===== */
.servicesDiv{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}
.servicesBoxDiv{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 10px;
  justify-content: center;
  background-color: rgba(187, 187, 187, 1);
}
.servicesBoxDivTop{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
  justify-content: center;
  background-color: rgba(187, 187, 187, 1);
}
.servicesTitleBox{
  display: flex;
  width: 100%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  /* border-top: 3px solid rgb(0, 194, 159);
  border-bottom: 3px solid rgb(0, 194, 159); */
}
.servicesTitle{
  display: flex;
  width: 100%;
  margin: 10px auto;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgb(0, 194, 159);
  border-bottom: 3px solid rgb(0, 194, 159);
}
.servicesBox{
  width: 300px;
  height: 300px;
  margin: 10px ;
  color: rgba(187, 187, 187, 1);
  background-size: cover;
  border: 2px solid rgb(0, 194, 159);
  animation-name: fadeIn;
  animation-duration: 2s;
  transition: 500ms ease;
}
.servicesBoxEffect{
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.servicesBox:hover{
  transform: scale(1.1);
  cursor: pointer;
}
/* ===REGISTER PAGE=== */
.registerBox{
  display: flex;
  height: 100vh;
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}
.regFormBox{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.45);
  align-items: center;
}
.formReg{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  line-height: 2;
  color: rgba(187, 187, 187, 1);
  /* background-color: red; */
}
.regImgPre{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 5px solid rgb(0, 194, 159);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.inputReg{
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 5px;
  color: rgba(187, 187, 187, 1);
  background-color: rgba(0, 0, 0, 0.45);
  border-bottom: 2px solid rgb(0, 194, 159);
}

.pair2{
  display: flex;
  flex-direction: column;
  width: 48%;

}
.inputReg2{
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 5px;
  color: rgba(187, 187, 187, 1);
  background-color: rgba(0, 0, 0, 0.45);
  border-bottom: 2px solid rgb(0, 194, 159);
}
.regSet{
  display: flex;
  width: 100%;
  flex-wrap:  wrap;
  padding: 0 20px
  /* margin: 0 20px; */
}
.password{
  margin-left: auto;
}
.showPass{
  display: flex;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {

  transform: translateX(14px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}




/* ===== PROFILE PAGE ===== */

.proDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}
.proPicDivEffect{
  display: flex;
  width: 100%;
  height: 150px;
  overflow: hidden;
  /* background-color: red; */

}
.spacer{
  width: 300px;
  padding: 20px;
  flex-shrink: 1;
  line-height: 1.5;
  font-weight: bold;
  color: rgba(187, 187, 187, 1);
}
.editLink{
  margin-right: 5px;
}
.addPropLink{
  margin-left: 5px;
}
.editLink:hover{
  transform: scale(1.1);
  color: rgb(0, 194, 159);
  cursor: pointer;
}
.messageForm{
  display: flex;
  height: 20px;
  margin: 10px 0;
}
.messageInput{
  height: 20px;
}
.messageButton{
  border: 0;
  width: 30px;
  height: 20px;
  background-color: rgb(0, 194, 159);
}
.messageIcon{
  margin:3px auto;
  color: rgba(0,0, 0, 1);
}
.proPicDiv{
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: red; */
  margin: 10px auto;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(0, 194, 159);
}


.userPic{
  max-width: 100%;
  min-height: 150px;
  margin: auto;
  margin-bottom: auto;


}
.proContent{
  width: 80%;
  /* height: 20px; */
  background-color: rgba(0, 0, 0, 0.45);
  margin: 0 auto;
  margin-bottom: 40px;
}
.proHomes{
  margin-top: 10px;
  border-top: 5px solid rgb(0, 194, 159);
}
.homeBoxPro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.servicGrid {
  display: flex;
  /* background-color: #2196F3; */
  /* padding: 10px; */
  margin: 10px;
  margin-bottom: 20px;
  justify-content: center;
}
.gridSet{
  display: flex;
  flex-direction: row;
}
.gridPair{
  display: flex;
  flex-direction: column;
}
.serviceItems {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  text-align: center;
}
.serviceItems:hover{
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  background: rgb(255,255,255);
background: radial-gradient(circle,
  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%,
  rgba(0, 194, 159,.3) 100%);
}
.houseContainerPro{
  display: flex;
  flex-direction: column;
}
.houseCardProfile{
  width: 250px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border: 3px solid rgba(0, 194, 159,.3);
  margin: 10px;
  transition: 500ms ease;
  /* animation-name: slideIn; */
  animation-duration: 3s;
  overflow: hidden;
  color: rgb(187, 187, 187);
}
.houseCardProfile:hover{
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.6);
  border: 4px solid rgb(0, 194, 159);
  /* background-color: rgb(187, 187, 187); */
}
@keyframes slideIn {
  from {height:0}
  to {height: 550px}
}

.houseCardPhotoDivPro{
  display: flex;
  width: 250px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
}
.houseMainPhotoPro{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  cursor: pointer;
}
.houseCardInfoPro{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  font-weight: normal;
  line-height: 1.5;
  /* background-color: red; */
  padding: 5px;
}
/* ====FOOTER==== */

.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 350px;
  min-height: 100%;
  border-top: 20px solid rgb(0, 194, 159);
  background-color: rgb(187, 187, 187);
;
}
.footerlinks{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 34px;
  text-align: center;

}
.footerlinks ul{
  list-style: none;
  line-height: 1.5;
  margin: 20px auto;
  /* text-align: center; */
}
.footerLogoDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 60px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.footerLogo{
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(0, 194, 159);
}
.footerText{
  padding: 20px;
  text-align: center;
  border-top: 2px solid rgb(0, 194, 159);
  border-bottom: 2px solid rgb(0, 194, 159);
}


.customLogoDiv{
  display: flex;
  width: 412px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

}
.customLogo{
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);

  border-radius: 50%;
  padding: 5px;
  border: 2px solid rgb(0, 194, 159);
  color: rgb(0, 194, 159);

}
.customLogoBox{
  width: 50px;
  height: 50px;
  margin: 0 10px;
  padding: 3px;
  /* transform: rotate(70deg); */
  background-color: black;
  transform: perspective(100px) rotateX(45deg) rotate(45deg);
}
.logoText{
font-size: 40px;
font-weight: bold;
}
.logoTextBox{
}
.logoText2{
  font-size: 20%;
  color: rgb(0, 194, 159);
}
.logoText3{
  font-weight: bold;
  font-size: 20px;
}


.customLogoDivNav{
  display: flex;
  width: 412px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 20px

}
.customLogoNav{
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  border-radius: 50%;
  padding: 5px;
  border: 2px solid rgb(0, 194, 159);
  color: rgb(0, 194, 159);

}
.customLogoBoxNav{
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 3px;

  /* transform: rotate(70deg); */
  border: 2px solid black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
  background-color: rgb(187, 187, 187);
  transform: perspective(100px) rotateX(45deg) rotate(45deg);
}
.logoTextNav{
font-size: 2.2rem;
font-weight: bold;
color: rgb(187, 187, 187);
}
.logoTextBoxNav{
}
.logoText2Nav{
  font-size: 10px;
  font-weight: bold;
  color: rgb(0, 194, 159);
}
.logoText3Nav{
  font-weight: bold;
  font-size: 20px;
  font-family: 'EB Garamond', serif;
  color: rgb(187, 187, 187);
}

.customLogoBoxHome{
  width: 70px;
  height: 70px;
  margin: 0 10px;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 25px;
  /* transform: rotate(70deg); */
  border: 2px solid black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
  background-color: rgb(187, 187, 187);
  transform: perspective(100px) rotateX(45deg) rotate(45deg);
}
.customLogoHome{
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  border-radius: 50%;
  padding: 5px;
  border: 2px solid rgb(0, 194, 159);
  color: rgb(0, 194, 159);
}

/* ===Edit PAGE=== */
.editDiv{
  display: flex;
  flex-direction: column;
}
.homeEditPhoto{
  margin: 0 auto;
  max-height: 200px;
  border: 10px solid rgb(0, 194, 159);
  border-bottom: 0;
}
.edHomesDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(0, 194, 159);

}




.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    z-index: 2;
}
.offscreen {
    position: absolute;
    left: -9999px;
}


/* ====ABOUT PAGE====== */
.aboutBoxDiv{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.aboutBox{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-bottom:  5px solid rgb(0, 194, 159);
}
.aboutPic{
  width: 100%;
  height: 100%;
}
.aboutBoxRight{
  width: 100%;
  height: 100%;
  /* background-color: green; */
  color: rgba(187, 187, 187, 0.98);
  padding: 20px;
}
.aboutBoxEffect{
  display: flex;
  justify-content: center;
  /* flex-shrink: 0; */
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.rightBox{
  margin-left: auto;
}
.leftBox{
  margin-right: auto;
}
 .textoffscreen{
   transition: 1s ease-in-out;
   transform: translateX(2000px);
 }
 .showText{
   transition: 1s ease-in-out;
   transform: translateX(0px);
 }
/* =====ADD PHOTO===== */
.showPhotoDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}
.mainExtraPhoto{
   width: 400px;
 }
 .photoGallery{
   display: flex;
   width: 90%;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   padding: 10px;
 }
 .photoBox{
  /* width: 300px; */
  max-height: 300px;
  margin: 5px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
 }
 .photoBox:hover{
   border: 2px solid rgb(0, 194, 159);
   transform: scale(1.1);
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   z-index: 2;
 }
 .houseMainPhotoShow{
  /* max-width: 100%; */
  max-height: 300px;

 }

 .zoomBox{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 90%;
   /* max-height:90vh; */
   margin: 0 auto;
 }
 .zoomImgBox{
   display: flex;
   max-width: 90%;
   /* max-height: 90%; */
   /* min-width: 300px;
   min-height: 300px; */
   margin-bottom: 10px;
   border: 2px solid rgb(0, 194, 159);
 }
 .zoomImg{
   max-width: 100%;
   max-height: 100%;
   cursor: pointer;
 }

 #closeModal{
   position: absolute;
   right: 10px;
   background-color: red;
   font-weight: bold;
 }
 #closeModal:hover{
   transform: scale(1.2);
 }
 .ReactModal__Overlay {
     opacity: 0;
     z-index: 4;
     transition: opacity 2000ms ease-in;
 }
 .ReactModal__Overlay--after-open{
     opacity: 1;
 }
 .ReactModal__Overlay--before-close{
     opacity: 0;
     transition: all 1000ms ease-out;
 }
 .ReactModal__Content{
     transform:scale(0) rotate(0deg);
     transition: transform 2000ms ease-in;
 }
 .ReactModal__Content--after-open{
   opacity: 1;
   transform:scale(1) rotate(360deg);
 }
 .ReactModal__Content--before-close{
   transition: all 1000ms ease-out;
   transform:scale(0) rotate(0deg);
 }


 @media only screen and (max-width: 950px) {
   .header{
     height: 100%;
   }
   .nav{
     margin-top: 10px;
   }
   .headerTop{
     width: 100%;
     padding: 0;
   }
   .headerTopLeft{
     display: flex;
     width: 100%;
     height: auto;
     justify-content: center;
     align-items: center;
     transition: 1500ms ease-in-out;

   }
   .footerLogoDiv{
     flex-direction: column;
   }
   .footerLogo{
     width: 50px;
     height: 50px;
     margin: 0 5px;
   }
   .customLogoDiv{
     flex-direction: column;
     padding: 10px;

     justify-content: center;
     align-items: center;
   }
   .customLogoDivNav{
     flex-direction: column;
     padding: 10px;
     margin: auto;
   }
   .spacer{
     display: none;
   }
   .aboutBox{
     flex-direction: column;
   }
   .aboutBoxEffect{
     margin: auto;
   }
   .formReg{
     width: 100%;
     height: 100%;
   }
   .regSet{
     flex-direction: column;
   }
   .password{
     width: 100%;

   }
   .set{
     flex-direction: column;
     width: 100%;
   }
   .serviceItems{
     padding: 10px;
   }
   .bottomDivTop{
     height: 450px;
   }

 }
